{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <div class="welcome-text">
        <h1>Добро пожаловать на PolCom!</h1>
        <p>PolCom — это современная социальная сеть, где вы можете:</p>
        <ul>
            <li>Делиться своими мыслями, фотографиями и видео.</li>
            <li>Общаться с друзьями в реальном времени.</li>
            <li>Расширять круг общения и заводить новых друзей.</li>
            <li>Следить за новостями и быть в курсе последних событий.</li>
        </ul>
        <p>Присоединяйтесь и станьте частью нашей уютной онлайн-семьи!</p>
    </div>
</div>
{% endblock %}
