{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<body>
    <div class="background"></div>
    <div class="welcome-wrapper">
        <!-- Логотип -->
        <div class="logo-container">
            <h1 class="logo">Pol<span class="logo-highlight">Com</span></h1>
        </div>
        <!-- Основной контент -->
        <div class="welcome-container">
            <h2>Добро пожаловать в PolCom!</h2>
            <p>Место для общения, дел и обмена идеями.</p>
            <div class="welcome-buttons">
                <a href="{% url 'login' %}" class="button">Войти</a>
                <a href="{% url 'register' %}" class="button">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</body>
</html>

